In [ ]:
 # projeto desenvolvido no Google Colab
 !pip install geopandas

In [ ]:
import pandas as pd
import geopandas as gpd
import numpy as np
import csv

from google.colab import drive

In [ ]:
drive.mount('/content/drive')
%cd "/content/drive/MyDrive/lightnight/"

In [ ]:
df_1 = pd.read_csv('raw_dataset_1_world.csv', sep=';')
df_2 = pd.read_csv('raw_dataset_2_world.csv', sep=';')
df_3 = pd.read_csv('raw_dataset_3_world.csv', sep=';')
df_4 = pd.read_csv('raw_dataset_4_world.csv', sep=';')

In [ ]:
df = pd.concat([df_1, df_2, df_3, df_4])
df = df[df.gid != "gid"]
df = df[df.gid != "?"]
df = df.drop_duplicates().reset_index(drop=True)

In [ ]:
cols = df.columns.drop(['gid', 'date'])
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [ ]:
df = df.groupby(['gid', 'date']).sum().reset_index()
df

,gid,date,AllAngle_Composite_Snow_Covered,AllAngle_Composite_Snow_Free,NearNadir_Composite_Snow_Covered,NearNadir_Composite_Snow_Free,OffNadir_Composite_Snow_Covered,OffNadir_Composite_Snow_Free,count_pixel
0,AFG.1.10_1,2012/001,4932.0,806.0,199.0,131.0,8924.0,4589.0,3021.0
1,AFG.1.10_1,2012/032,2147.0,15499.0,2579.0,268.0,1926.0,16360.0,2986.0
2,AFG.1.10_1,2012/061,9761.0,17011.0,792.0,15184.0,865.0,21560.0,4413.0
3,AFG.1.10_1,2012/092,673.0,819.0,151.0,673.0,36.0,5118.0,1077.0
4,AFG.1.10_1,2012/122,162.0,1883.0,107.0,2680.0,57.0,19219.0,3435.0
...,...,...,...,...,...,...,...,...,...
5964643,ZWE.9.9_2,2022/091,495.0,621.0,495.0,577.0,495.0,636.0,70.0
5964644,ZWE.9.9_2,2022/121,448.0,540.0,448.0,384.0,448.0,644.0,67.0
5964645,ZWE.9.9_2,2022/152,431.0,545.0,431.0,447.0,431.0,606.0,60.0
5964646,ZWE.9.9_2,2022/182,484.0,660.0,484.0,509.0,484.0,782.0,82.0
5964647,ZWE.9.9_2,2022/213,702.0,734.0,702.0,757.0,702.0,865.0,84.0

In [ ]:
for i in [df_1, df_2, df_3, df_4]:
    del (i)

In [ ]:
geo_1 = gpd.read_file('resources/gadm_410-levels.gpkg', layer='ADM_1')
geo_2 = gpd.read_file('resources/gadm_410-levels.gpkg', layer='ADM_2')

In [ ]:
country_l2 = geo_2['GID_0'].unique()
geo_1 = geo_1[~geo_1['GID_0'].isin(country_l2)]

geo_1['GID_2'] = geo_1['GID_1']
geo_1['NAME_2'] = geo_1['NAME_1']

geo_1 = geo_1[['GID_0', 'COUNTRY', 'GID_1', 'NAME_1', 'GID_2', 'NAME_2']]
geo_2 = geo_2[['GID_0', 'COUNTRY', 'GID_1', 'NAME_1', 'GID_2', 'NAME_2']]

geo = pd.concat([geo_1, geo_2])

In [ ]:
geo_2[geo_2.GID_0 == "USA"]

,GID_0,COUNTRY,GID_1,NAME_1,NL_NAME_1,GID_2,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry
42109,USA,United States,USA.1_1,Alabama,NA,USA.1.1_1,Autauga,NA,NA,County,County,NA,US.AL.AU,"MULTIPOLYGON (((-86.91668 32.66431, -86.82678 ..."
42110,USA,United States,USA.1_1,Alabama,NA,USA.1.2_1,Baldwin,NA,NA,County,County,NA,US.AL.BD,"MULTIPOLYGON (((-87.74416 30.29445, -87.74389 ..."
42111,USA,United States,USA.1_1,Alabama,NA,USA.1.3_1,Barbour,NA,NA,County,County,NA,US.AL.BR,"MULTIPOLYGON (((-85.41607 31.61962, -85.49133 ..."
42112,USA,United States,USA.1_1,Alabama,NA,USA.1.4_1,Bibb,NA,NA,County,County,NA,US.AL.BI,"MULTIPOLYGON (((-87.42078 32.87446, -87.42028 ..."
42113,USA,United States,USA.1_1,Alabama,NA,USA.1.5_1,Blount,NA,NA,County,County,NA,US.AL.BU,"MULTIPOLYGON (((-86.96287 33.85858, -86.96512 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45252,USA,United States,USA.51_1,Wyoming,NA,USA.51.19_1,Sweetwater,NA,NA,County,County,NA,US.WY.SW,"MULTIPOLYGON (((-107.91540 41.00295, -107.9659..."
45253,USA,United States,USA.51_1,Wyoming,NA,USA.51.20_1,Teton,NA,NA,County,County,NA,US.WY.TE,"MULTIPOLYGON (((-111.04362 43.31358, -111.0439..."
45254,USA,United States,USA.51_1,Wyoming,NA,USA.51.21_1,Uinta,NA,NA,County,County,NA,US.WY.UI,"MULTIPOLYGON (((-111.04584 41.25143, -111.0459..."
45255,USA,United States,USA.51_1,Wyoming,NA,USA.51.22_1,Washakie,NA,NA,County,County,NA,US.WY.WA,"MULTIPOLYGON (((-108.55055 44.16851, -107.1458..."
45256,USA,United States,USA.51_1,Wyoming,NA,USA.51.23_1,Weston,NA,NA,County,County,NA,US.WY.WE,"MULTIPOLYGON (((-104.05484 43.85300, -104.0548..."

In [ ]:
day_month = {'1':'12', '32':'1', '60':'2', '61':'2', '91':'3', '92':'3', '121':'4', '122':'4','152':'5',
             '153':'5', '182':'6', '183':'6','213':'7', '214':'7', '244':'8', '245':'8', '274':'9', '275':'9',
             '305':'10', '306':'10', '335':'11', '336':'11'}

df_data = pd.DataFrame.from_dict(day_month, orient='index').reset_index()
df_data.columns = ['dia', 'mes']
df_data[['mes', 'dia']] = df_data[['mes', 'dia']].apply(np.int64)


df_final = df.merge(geo, how='left', left_on='gid', right_on='GID_2')
df_final[['ano', 'dia']] = df_final['date'].str.split('/', expand=True)
df_final = df_final.drop(['date'], axis=1)
df_final[['ano', 'dia']] = df_final[['ano', 'dia']].apply(np.int64)
df_final = df_final.merge(df_data, on='dia', how='left')

df_final['aux'] = np.select([df_final['mes'] == 12], [1])
df_final['ano'] = df_final['ano'] - df_final['aux']
df_final = df_final.drop(['aux', 'dia', 'gid', 'count_pixel'], axis=1)

df_final = df_final.rename(columns={'GID_0':'country_code', 'COUNTRY':'country_name', 'GID_1':'region_code', 'NAME_1': 'region_name', 'GID_2':'subregion_code', 'NAME_2':'subregion_name', 'ano':'year', 'mes':'month'})

In [ ]:
df_final

,AllAngle_Composite_Snow_Covered,AllAngle_Composite_Snow_Free,NearNadir_Composite_Snow_Covered,NearNadir_Composite_Snow_Free,OffNadir_Composite_Snow_Covered,OffNadir_Composite_Snow_Free,country_code,country_name,region_code,region_name,subregion_code,subregion_name,year,month
0,4932.0,806.0,199.0,131.0,8924.0,4589.0,AFG,Afghanistan,AFG.1_1,Badakhshan,AFG.1.10_1,Shahri Buzurg,2011,12
1,2147.0,15499.0,2579.0,268.0,1926.0,16360.0,AFG,Afghanistan,AFG.1_1,Badakhshan,AFG.1.10_1,Shahri Buzurg,2012,1
2,9761.0,17011.0,792.0,15184.0,865.0,21560.0,AFG,Afghanistan,AFG.1_1,Badakhshan,AFG.1.10_1,Shahri Buzurg,2012,2
3,673.0,819.0,151.0,673.0,36.0,5118.0,AFG,Afghanistan,AFG.1_1,Badakhshan,AFG.1.10_1,Shahri Buzurg,2012,3
4,162.0,1883.0,107.0,2680.0,57.0,19219.0,AFG,Afghanistan,AFG.1_1,Badakhshan,AFG.1.10_1,Shahri Buzurg,2012,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5964643,495.0,621.0,495.0,577.0,495.0,636.0,ZWE,Zimbabwe,ZWE.9_1,Matabeleland South,ZWE.9.9_2,Plumtree,2022,3
5964644,448.0,540.0,448.0,384.0,448.0,644.0,ZWE,Zimbabwe,ZWE.9_1,Matabeleland South,ZWE.9.9_2,Plumtree,2022,4
5964645,431.0,545.0,431.0,447.0,431.0,606.0,ZWE,Zimbabwe,ZWE.9_1,Matabeleland South,ZWE.9.9_2,Plumtree,2022,5
5964646,484.0,660.0,484.0,509.0,484.0,782.0,ZWE,Zimbabwe,ZWE.9_1,Matabeleland South,ZWE.9.9_2,Plumtree,2022,6
5964647,702.0,734.0,702.0,757.0,702.0,865.0,ZWE,Zimbabwe,ZWE.9_1,Matabeleland South,ZWE.9.9_2,Plumtree,2022,7

In [ ]:
df_final.to_csv("final_dataset_world.csv", sep=';')